data/
data_synthetic/
*.duckdb
*.duckdb.wal
__pycache__/
.ipynb_checkpoints/
.venv/
reports/*.json
dbt/target/
dbt/logs/
logs/
*.p8
*.pem
data/snowflake_export/
config.local.yaml
_to_delete/
data/external/
*.parquet
.env
dbt/.user.yml
